<h2><%= @post.title %> <%= link_to "(edit)", edit_post_path(@post) %></h2>

<div class="content">
  <p>
    <%=@post.content%>
  </p>

</div>
<div class='user_name'><%= '--- ' + @post.user_name + ' ---' %></div>
<h3>Comment <%= link_to "(+)", new_post_comment_path(@post) %></h3>


  <% @post.comments.each do |comment| %>
<div class="comment_content">
  <p>
      <%= comment.content %> <%=link_to "(edit)", edit_post_comment_path(@post, comment) %>
  </p>
</div>

      <div class='user_name'><%= '--- ' + comment.user_name + ' ---'%></div>


  <% end %>
</ul>
